{:lib io.github.hive-agi/hive-photocraft
 :minor 0
 :license {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url "https://github.com/hive-agi/hive-photocraft"
 :src-dirs ["src" "resources"]
 :publish :clojars}
